<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login by Matt05 | Codepen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
     <link rel="stylesheet" href="css/style.css">
</head>
 <body  class="bgimg"></body>
<form action="login" method="post">
   
    <div class="login-dark" style="height: 600px; width:30%; margin-top:100px;margin:auto">
        <form>
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <label for="name">Username</label>
            <div class="form-group"><input class="form-control" type="name" name="Username" placeholder="Username"></div>
            <label for="name">Password</label>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <label for="name"></label>
            <div class="form-group"><button class="btn btn-primary btn-block">Log In</button></div>
            </form>
    </div>
</form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>