<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-color: rgb(197, 176, 176);
                font-family:Arial, Helvetica, sans-serif;
                margin: 0px 0px;
                padding: 0px 0px;
            }
            #wrapper{
                border: 0px solid black;
                width: 700px; height: 550px;
                margin: 10px auto;

            }
            #header{
                background: crimson; height: 80px;
                color: white;}
                
            #header h1{
                padding: 20px 0 0 20px;
            }
            #header h1 {
                padding-left: 50px; padding-top: 10px;
            }
            #menu{
                background-color: orangered;
            }
            #menu li{
                
                display: inline-block;
                margin-right: 7px;
            }
            #menu li a{
                display: block; padding: 5px 10px ;
                margin-right: 7px;
                text-decoration: none;
                color: black;
            }
            #menu ul{
                margin: 0;
                padding: 0;
            }
            #sidebar a{
                text-decoration: none;
                color: rgb(24, 23, 23);
            }
            #content{
                background: grey;
                width: 500px; float: left; 
                padding-left: 5px; margin-bottom: 20px;
            }
            #sidebar{
                background: rgb(32, 156, 48); float: right;
                width: 150px; min-height: 400px;
            }
            #footer{
                background: darkolivegreen; clear: both;
                text-align: right; padding: 6px 10px;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <div id="header"> 
                <h1>Arvind Suthar</h1>
            </div>
            <div id="menu">
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li><a href="">GAllery</a></li>
                    <li><a href="">contact us</a></li>
                    <li><a href="">About us</a></li>
                </ul>
            </div>
            <div id="content">
                <h1>MY FIRST DESIGN LAYOUT</h1>
                Ancient manuscripts also divided sentences into paragraphs with line breaks (newline) followed by an initial at the beginning of the next paragraph. 
            An initial is an oversized capital letter, sometimes outdented beyond the margin of the text. This style can be seen, for example, in the original Old English manuscript of Beowulf. 
            Outdenting .Ancient manuscripts also divided sentences into ><span style="font: size 7px;; font-style:oblique ;font-variant: small-caps;">
                sometimes outdented beyond the margin of the text.
                Outdenting .Ancient manuscripts also divided sentences into ><span style="font: size 7px;; font-style:oblique ;font-variant: small-caps;">
                    sometimes outdented beyond the margin of the text.</span> paragraphs with line breaks (newline) followed by an initial at the beginning of the next paragraph. 
            An initial is an oversized capital letter initial is an oversized capital letter,
             sometimes outdented beyond the margin of the text. This style can be seen, for example, in the original Old English manuscript of Beowulf. 
            Outdenting .Ancient manuscripts also divided sentences into
            </div>
            <div id="sidebar">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">GAllery</a></li>
                    <li><a href="">contact us</a></li>
                    <li><a href="">About us</a></li>
                </ul>
            </div>
           
            <div id="footer">
                arvindsuthar@2020.copyright.
            </div>
        </div>
        <br>


       
    </body>
</html>